---
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import IconGitHub from '~icons/tabler/brand-github';
import IconTwitter from '~icons/tabler/brand-twitter';

const { blok } = Astro.props;
---

<div class="hero h-96 bg-base-200" {...storyblokEditable(blok)}>
  <div class="hero-content flex-row p-8 gap-12">
    <div class="basis-1/2 text-right">
      <h1 class="text-5xl font-bold">{blok.title}</h1>
      <div class="py-6" set:html={renderRichText(blok.body)}></div>
      <!-- <button class="btn btn-primary">Get Started</button> -->
    </div>
    <div class="basis-1/2 text-left">
      <p>
        <IconTwitter />
        <a
          href="https://twitter.com/sp1986_tw"
          class="link link-primary"
          target="_blank"
        >
          @sp1986_tw
        </a>
      </p>
      <p>
        <IconGitHub />
        <a
          href="https://github.com/BruceShih"
          class="link link-primary"
          target="_blank"
        >
          @BruceShih
        </a>
      </p>
    </div>
  </div>
</div>

<style>
  .hero-content :global(p) {
    @apply pb-3;
  }
</style>
