---
import AstroIcon from '../static/astro.svg';
---

<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <div class="items-center grid-flow-col">
    <p>2022 © Bruce Shih</p>
  </div>
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    Built with
    <a class="flex" href="https://astro.build/" target="_blank">
      <img src={AstroIcon} class="w-4 h-4" alt="Astro" />
    </a>
  </div>
</footer>
