---
import Header from '../components/Header.vue';
import '../styles/main.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" data-theme="night">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <Header />
      <main class="w-full max-w-5xl px-4 mx-auto flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>
