---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css';
---

<html lang="en" data-theme="night">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bruce Shih</title>
  </head>
  <body>
    <div class="h-screen flex flex-col justify-between">
      <Header />
      <main class="container w-full max-w-5xl px-4 m-auto flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
